{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react-hooks", "prettier"],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/eslint-recommended"],
    "rules": {
        "no-console": 2,
        "prettier/prettier": [2]
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
